.form1	{
	color:white;
	background-color: green;
	border:2px solid black;
	padding: 12px;
	}

.form2	{
	margin:10px;
	}

.form3	{
	margin:10px;
	font:11px "Lucida Sans Unicode";
	border:2px solid black;
	width:215px;
	}

.form4	{
	margin:10px;
	width:60px;
	border:2px solid black;
	}

.form5	{
	background-color:#2f2f2f;
	color:white;
	width:150px;
	padding:8px 20px 8px 20px;
	border-radius:15px;
	}
	
.form6	{
	margin:10px;
	font:11px "Lucida Sans Unicode";
	border:2px solid black;
	width:70px;
	}

.form7	{
	margin:10px;
	font:11px "Lucida Sans Unicode";
	border:2px solid black;
	width:50px;
	}

.form8	{
	margin:10px;
	width:115px;
	border:2px solid black;
	}

.form9	{
	margin:10px;
	font:11px "Lucida Sans Unicode";
	border:2px solid black;
	width:125px;
	}